// Mixin to create button
@mixin button($bg: $blue, $bg-hover: $white, $color: $white) {
  background: $bg;
  color: $color;
  border-color: $bg;
  @extend .pv2;
  @extend .ph3;
  @extend .ba;
  @extend .bw1;
  @extend .br2;
  @extend .outline-0;
  @extend .pointer;

  &:hover {
    background: $color;
    color: $bg;
    border-color: $bg;
    transition: all ease-in .3s;
  }
}

.button {
  @include button;

  &.small {
    @extend .f6;
    @extend .pv1;
    @extend .ph2;
  }

  &.large {
    @extend .f3;
  }

  &.secondary {
    @include button($black, $white, $white);
  }

  &.rounded {
    @extend .br-pill;
  }
}
