$border-color: map-get($color-pallete, gray);
$radio-size: .75em;

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  @extend .mt1;
  @extend .mb3;
  @extend .outline-0;
  @extend .db;
  @extend .w-100;
  @extend .pa2;
  @extend .ba;
  @extend .bw1;
  border-color: $border-color;
  @extend .bg-white;

  &:focus {
    border-color: $black;
  }
}

input[type="checkbox"],
input[type="radio"] {
  visibility: hidden;
  @extend .relative;
  @extend .ml1;

  &:after {
    visibility: visible;
    content: "";
    width: $radio-size;
    height: $radio-size;
    left: -3px;
    border-color: $border-color;
    @extend .absolute;
    @extend .ba;
    @extend .bw1;
    @extend .bg-white;
  }

  &:checked {
    &:after {
      transition: all ease-in-out .3s;
      @extend .bg-blue;
      @extend .b--blue;
    }
  }
}

input[type="radio"] {
  &:after {
    @extend .br-100; 
  }
}

label {
  // @extend .b;
}

.input-group {
  label {
    @extend .mr3;
  }
}

.form {
  &-row {
    @extend .cf;
  }

  &-input,
  &-actions {
    @extend .pa2;
  }

  &-input {
    @extend .fl;
    @extend .w-50-l;

    &.full {
      @extend .w-100;
    }
  }

  &-actions {
    @extend .tr;
  }

}
