$border-color: map-get($color-palette, gray);
$radio-size: 1em;

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  @extend .mt1;
  @extend .mb3;
  @extend .outline-0;
  @extend .db;
  @extend .w-100;
  @extend .pa2;
  @extend .ba;
  @extend .bw1;
  border-color: $border-color;
  @extend .bg-white;

  &:focus {
    border-color: $black;
  }
}

input[type="checkbox"],
input[type="radio"] {
  @extend .absolute;
  @extend .overflow-hidden;
  top: auto;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;

  & + label {
    @extend .pointer;
  }

  & + label:before {
    content: '';
    height: $radio-size;
    width: $radio-size;
    margin-right: $radio-size / 2;
    margin-bottom: $radio-size / 2;
    border-color: $border-color;
    box-sizing: border-box;
    @extend .db;
    @extend .fl;
    @extend .ba;
    @extend .bw1;
    @extend .v-mid;
  }

  &:checked + label:before {
    background: map-get($color-palette, primary);
    box-shadow: inset 0 0 0 2px $white;
    border-color: map-get($color-palette, primary);

    transition: all ease-in .2s;
  }
}

input[type="radio"] {
  & + label:before {
    @extend .br-100; 
  }
}

.input-group {
  label {
    @extend .mr3;
    @extend .mb3;
    @extend .db;
    @extend .dib-l
  }
}

.form {
  &-row {
    @extend .cf;
  }

  &-input,
  &-actions {
    @extend .pa2;
  }

  &-input {
    @extend .fl;
    @extend .w-100;
    @extend .w-50-l;

    &.full {
      @extend .w-100;
    }
  }

  &-actions {
    @extend .tr;
  }

}
