---
notes: |
  Cards available classes `.card-group, .card, .card-content` and optionally; `.card-header, .card-image, .card-actions`
  Card types are `.with-image-content'
---
<div class="card-group">
  <div class="card">
    <div class="card-image">
      <img src="//unsplash.it/800/400" alt="">
    </div>
    <div class="card-header">Card header</div>
    <div class="card-content">
      <p>Card content</p>
    </div>
  </div>

  <div class="card secondary">
    <div class="card-header">Card header</div>
    <div class="card-image">
      <img src="//unsplash.it/800/400" alt="">
    </div>
    <div class="card-content">
      <p>Card content</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="//unsplash.it/800/400" alt="">
    </div>
    <div class="card-header">Card header</div>
    <div class="card-content">
      <div class="card-actions button-group tr">
        <button class="button">Click me</button>
        <button class="button">Or me</button>
        <button class="button">Don't forget me</button>
      </div>
    </div>
  </div>

  <div class="card with-image-content">
    <div class="card-image">
      <img src="//unsplash.it/800/400" alt="">
      <div class="card-image-content">
        <button class="button">Learn more</button>
      </div>
    </div>
  </div>
</div>
