<footer class="footer">
  <div class="container dt-ns w-100-ns">
    <div class="pa3 w-50-ns dtc-ns v-mid-ns tc tl-ns">
      <p class="mb0">&copy; TalentedUnicorn <span class="year"></span></p>
    </div>
    <div class="pa3 w-50-ns dtc-ns v-mid-ns tc tr-ns">
      <a class="social" href="#"><i class="fa fa-github fa-lg"></i></a>
      <a class="social" href="#"><i class="fa fa-facebook fa-lg"></i></a>
      <a class="social" href="#"><i class="fa fa-twitter fa-lg"></i></a>
    </div>
  </div>
</footer>
<script type="text/javascript">
  var year = document.querySelector('.year');
  var current_year = new Date().getFullYear();
  year.innerHTML = current_year;
</script>
