<div class="bg-white bb b--light-gray">
  <div class="container dt-l w-100 pa3 pv0-l">
    <div class="dtc-l v-mid-l w-60-l tc tl-l">
      <span class="f3 b ttu tracked mv3 pa2 dib">AGE-NCY</span>
    </div>
    <div class="dtc-l v-mid-l w-40-l">
      <ul class="menu justify-end">
        <li><a href="#">About</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <button class="button">Book Now</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="cover white vh-75 pv4 flex items-center" style="background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(//unsplash.it/1200/800);">
  <div class="container pa3">
    <h1 class="f5 ttu tracked">Hey, beautiful</h1>
    <h2 class="f1">We can help you to reach your audience.</h2>
  </div>
</div>
{{> footer }}
