<div class="pv4 pv2-l bg-white">
  <div class="container dt-l w-100">
    <div class="w-80-l dtc-l v-mid-l pl3">
      <h1 class="header"><span class="primary">Zest</span> <small class="moon-gray">is a UI toolkit for rapid prototyping</small></h1>
    </div>
    <div class="w-20-l dtc-l v-mid-l tr-l pa3">
      <a href="https://github.com/talentedunicorn/zest" target="blank" class="button rounded">Github <i class="fa fa-github fa-lg"></i></a>
    </div>
  </div>
</div>
<div class="bg-near-white">
  <div class="container pv3 pv5-l">
    <div class="fl-l w-50-l pa3">
      <h2 class="header mini bordered dib">Getting started</h2>
      <ul class="list pl0">
        <li>
          <strong>Clone</strong>
          <pre><code>git clone https://github.com/talentedunicorn/zest</code></pre>
        </li>
        <li>
          <strong>Navigate to folder</strong>
          <pre><code>cd zest</code></pre>
        </li>
        <li>
          <strong>Run</strong>
          <pre><code>npm start</code></pre>
        </li>
      </ul>
    </div>
    <div class="fl-l w-50-l pa3">
      <h2 class="header mini bordered dib">Contains</h2>
      <ul class="list pl0 lh-copy">
        <li><a href="//tachyons.io">Tachyons</a> css framework</li>
        <li><a href="//fontawesome.io">Font Awesome</a> icons library</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-primary tc pa5">
  <div class="container">
    <button class="button secondary rounded large">Get Zest <i class="fa fa-github"></i></button>
  </div>
</div>

{{> footer }}
